body{
    background-color: #BEA8AA;
}

.container{
    background-color: #D4CBE5;
    border-style: outset;
    text-align: center;
    width: 600px;
    height: 400px;
    margin-left: 370px;
    /* margin-top: 100px; */
}

h1{
    text-decoration: underline;
    font-size: 40px;
}
p{
    font-size: 20px;
    text-decoration: underline;
}

.input label{
    font-size: 20px;
}

.input input{
    font-size: 15px;
}

.check label{
    font-size: 18px;
}
.hide{
    padding:9px 60px ;
}
.check{
    margin-bottom: 10px;
}
.text{
    padding: 12px 60px;
    background-color: transparent;
}

.button{
    margin-bottom: 50px;
    height: 40px;
    width: 13%;
    margin-left: 20px;
    background-color: transparent;
}

.button:hover{
    background-color: #9E9885;
    
}
mark{
    background: #9E9885;
}

.display{
    font-size: 20px;
}
.displayLength{
    font-size: 20px;
    margin-top: 20px;
}